.enc{
    height: 100px; 
    background-color: #198DB8;
    opacity: 50%;
}

.container-fluid{
    height: 100%;
    padding: 0px;
}
.p-1{
    margin: 0 20px;
}

.contenedor-formulario{
    margin:auto;
    margin-top: 35px;
    width: 700px;
    justify-content: space-between;
}

input{
    margin-bottom:20px;
    width: 240px;
}
.Footer{
    position: absolute;
    height: 100px; 
    text-align: center;
    background-color: #8cc6db;
    bottom: 0;
    width: 100%;
}
i{
    display: inline-block;
    margin-left: 20px;
    margin-top: 40px;
}

.agregar{
    display: flex;
    width: 250px;
    height: 100%;
}

.agregar button{
    background: black;
    color: white;
    border-radius: 0% 50% 50% 0%;
    height: 30px;
    font-size: 24px;
    font-weight: 900;
}
 
.agregar p{
    height: 10px;
    margin: auto;
    margin-top: -20px;
}