.enc{
    height: 100px; 
    background-color: #198DB8;
    opacity: 50%;
}

.container-fluid{
    height: 100%;
    padding: 0px;
}
.p-1{
    margin: 0 20px;
}

.contenedor-formulario{
    margin:auto;
    margin-top: 35px;
    width: 800px;
    justify-content: center;
}

input{
    margin-bottom:20px;
    width: 200px;
}
.Footer{
    position: absolute;
    height: 100px; 
    text-align: center;
    background-color: #8cc6db;
    bottom: 0;
    width: 100%;
}
i{
    display: inline-block;
    margin-left: 20px;
    margin-top: 40px;
}
