.enc{
    height: 100px; 
    background-color: #198DB8;
    opacity: 50%;
}

.container-fluid{
    min-height: 100vh;
    padding: 0px;
}
.p-1{
    margin: 0 20px;
}

.contenedor-formulario{
    margin:auto;
    margin-top: 25px;
    width: 800px;
    justify-content: center;
}

input{
    margin-bottom: 15px;
    width: 200px;
}